*
{
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html, body
{
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 14px;
    color: #4F5155;
    height: 100%;
}

body
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#api_controls
{
    margin: 20px 0 0 0;
}

.pgn_viewer
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 680px;
    height: 360px;
    background-color: #f3f3f3;
}

#chessboard
{
    float: left;
}

#pgn
{
    float: right;
    width: 300px;
    height: 360px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px;
    background-color: white;
}
