/* Default styling */

.canvaschesspgn
{
    float: left;
    font-size: 13px;
    line-height: 20px;
    vertical-align: baseline;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    
    /* Disable text highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.canvaschesspgn:focus, .chessboard:focus
{
    outline: 0;
}

.chessboard
{
    float: left;
}

.pgn_header_box
{
    padding: 10px;
    color: #5a5855;
    position: relative;
}

.pgn_header_box span, .move_list
{
    /* Enable text highlighting */
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.pgn_players
{
    font-weight: bold;
    display: block;
}

.pgn_event, .pgn_site, .pgn_date
{
    border-right: 1px solid;
    padding-right: 8px;
    margin-right: 8px;
}

.game_list
{
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 320px;
}

.move_list
{
    float: right;
    list-style-type: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 356px;
    width: 290px;
    padding: 2px 15px;
    background-color: white;
    margin: 0;
}

.move_controls
{
    float: right;
    width: 290px;
    color: #8c8a88;
}

.pgn_ctrl_btn, .board_controls a
{
    float: left;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.pgn_ctrl_btn
{
    margin-left: 12%;
    background: url('../img/player_icons.png') no-repeat;
}

.pgn_start
{
    background-position: -64px 0;
}

.pgn_prev
{
    background-position: -96px 0;
}

.pgn_next
{
    background-position: -128px 0;
}

.pgn_end
{
    background-position: -160px 0;
}

.board_ctrl_btn
{
    background: url('../img/board_icons.png') no-repeat;
}

.board_flip
{
    background-position: 0 0;
}

.board_download
{
    background-position: -60px 0;
}

.move_list li
{
    display: inline;
}

/* Main line moves */
.move_list > li > .move_text
{
    font-weight: bold;
}

/* All moves */
.move_list .move_text
{
    cursor: pointer;
    padding: 0 4px 0 4px;
    margin: 0 4px 0 -4px;
}

.move_list .comment
{
    color: #322E2B;
}

.move_list .current .move_text
{
    background-color: #ffff99;
}

.variation
{
    color: #83817D;
    padding: 5px 5px 5px 5px;
    margin: 5px 0 5px 20px;
}

.variation + .variation
{
    padding-top: 0;
    margin-top: 0;
}